*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
}
.container{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.content{
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 100%;
}
.hero-black{
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 50vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.black-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 150px;
  margin-left: 500px;
}
.black-head p{
  color: white;
  font-size: 15px;
  margin-bottom: 15px;
}
.black-head h1{
  color: white;
  font-size: 60px;
}
/* section 1 */
.hero-section{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.hero-content{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.hero-map{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
  margin-bottom: 200px;
}
.map1{
  width: 110%;
  height: 60vh;
}
.info{
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}
.item{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  line-height: 2rem;
  margin-top: 10px;
}
.item-row{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  line-height: 3rem;
}
.item h3{
  font-size: 18px;
  margin-bottom: 25px;
}
.item p{
  font-size: 18px;
}
.item-row h3{
  font-size: 18px;
  margin-bottom: 20px;
}
.item-row p{
  font-size: 18px;
}
