*{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 5px;
}
.part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    width: 100%;
    height: auto;
}
.enter{
    background-color: black;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-size: 10px;
}
.party{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.parent{
    font-size: 20px;
    word-spacing: 10px;
    color: white;
    padding-bottom: 20px;
}
.parent-a{
    color: white;
    font-size: 80px;
    justify-content: center;
}
.parent-b{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    justify-content: center;
    justify-items: center;
    background-color: rgb(229, 231, 236);
}
.intro h4{
    font-size: 40px;
    font-family: monospace;
}
.prof{
    display: flex;
    flex-direction: column;

}
.prof h4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: monospace;
    font-weight: 50px;
}
.parent-c{
    width: 100%;
    height: auto;
    color: rgb(83, 74, 74);
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-left: 10px;
    font-weight: lighter;
    font-size: 20px;
    margin: 5px;
    padding: 20px;
}
.bold{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: monospace;
    font-weight: 50px;
}
@media screen and (min-width:375px){
    .enter{
        font-size: 10px;
        background-color: blue;
    }
    .intro h4{
        font-size: 30px;
    }
}
@media screen and (max-width:370px){
    .intro h4{
        font-size: 30px;
        width: 100%;
    }
    .parent-c{
        width: auto;
        font-size: 30px;
    }
    .bold{
        font-size: 30px;
    }
    .prof{
        margin-top: 10px;
    }
}
