*{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 5px;
}
.part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    width: 100%;
    height: auto;
}
.enter{
    background-color: black;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.party{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.parent{
    font-size: 30px;
    word-spacing: 15px;
    color: white;
}
.path{
    display: flex;
    flex-direction: row;
    color: white;
}
.parent-a{
    color: white;
    font-size: 80px;
    justify-content: space-around;
}
.parent-b{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    justify-content: center;
    justify-items: center;
    background-color: rgb(229, 231, 236);
}
.intro h4{
    font-size: 40px;
    font-family: monospace;
}
.prof{
    display: flex;
    flex-direction: column;

}
.prof h4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 40px;
    font-family: monospace;
    font-weight: 50px;
}
.parent-c{
    width: 100%;
    height: 100px;
    color: rgb(83, 74, 74);
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-left: 10px;
    font-weight: bolder;
}
.bold{
    color: red;
    font-size: 20px;
    font-family: monospace;
    font-weight: 50px;
}